<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#343a40">
    <title>myHostelKenya | {% block title %}home{% endblock title %}</title>
    <!-- <link rel='stylesheet' type="text/css" href="http://127.0.0.1/assets/css/bootstrap.min.css"> -->
    <link rel='stylesheet' type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel='stylesheet' type="text/css" href="{% static 'css/base.css' %}">
    {% block style %}{% endblock style %}
</head>
<body>
        <nav id="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark">
          <h1>myHostelKenya</h1>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link {% block home %}{% endblock home %}" href="\">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link {% block book %}{% endblock book %}" href="{% url 'book:index' %}">book</a>
              </li>
              {% if user.is_authenticated %}
                  {% if user.is_staff %}
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'admin:index' %}" target="_blank">admin page</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link {% block staff %}{% endblock staff %}"" href="{% url 'staff' %}">staff</a>
                  </li>
                  {% endif %}
              {% endif %}
                <li class="nav-item">
                <a class="nav-link {% block help %}{% endblock help %}" href="{% url 'help:faq-index' %}">help</a>
              </li>
              </li>
                <li class="nav-item">
                <a class="nav-link {% block school %}{% endblock school %}" href="{% url 'specify' %}">school{% if school %} - {{school}}{% endif %}</a>
              </li>
            </ul>

            <form id="top-search-bar" method="GET" action="{% url 'book:search' %}" class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-4" type="search" name="query" value="{{ query }}" placeholder="Search for hostels" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
          </div>
      </nav>



        <div class="top">
          <nav aria-label="breadcrumb">
            <ol style="padding-left: 20%;" class="breadcrumb">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              {% block crumb %}{% endblock crumb %}
            </ol>
          </nav>

          {% if messages %}
          <div class="message-div text-center">
              <ul class="messages">
                {% for message in messages %}
                  <li {% if message.tags %} class="text-{{ message.tags }}" {% endif %}>{{ message }} </li>
                {% endfor %}
              </ul>          
          </div>
          {% endif %}
        </div>

        {% if not cookie %}
        <div class="alert alert-info text-center" id="cookie-warning">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <strong>Privacy warning</strong> This site requires cookies to provide you with its services. By proceeding into this site you accept the use cookies.<br />
          <a id="accept-cookie" href="{% url 'help:accept-cookie' %}?next=" class="btn btn-success">Accept</a>
          <a href="" class="btn btn-warning">Decline</a>
        </div>
        <script>
          var acc = document.getElementById('accept-cookie');
          acc.href = acc.href + window.location.pathname;
        </script>
        {% endif %}
      
    <div class="main">
    {% block content %}
    
    {% endblock content %}
    </div>

    {% if is_paginated %}
    <ul class="pagination text-center">
      {% if page_obj.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{page_obj.previous_page_number}}">&laquo;</a></li>
      {% else %}
        <li class="disabled"><span class="page-link">&laquo;</span></li>
      {% endif %}

      {% for i in paginator.page_range %}
        {% if i == page_obj.number %}
          <li class="page-item active"><span class="page-link">{{i}}</span></li>
        {% else %}
          <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
        {% endif %}
      
      {% endfor %}
      
      {% if page_obj.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{page_obj.next_page_number}}">&raquo;</a></li>
      {% else %}
        <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
      {% endif %} 
    </ul>
    {% endif %}
    


<footer class="section footer-classic context-dark bg-image" style="background: #343a40;">
        <div class="container">
          <div class="row row-30">
            <div class="col-md-4 col-xl-5" id='part-1'>
              <div class="pr-xl-4"><a class="brand" href=""><h7>myHostelKenya</h7></a>
                <p>Search for private hostels in your Kenyan institution of choice. From Kisii University to the University of Nairobi.</p>
                <!-- Rights-->
                <p class="rights"><span>©  </span><span class="copyright-year">2018 - <span id="c-y"></span>. </span><span>All Rights Reserved.</span></p>
              </div>
            </div>
            <div class="col-md-4" id="contacts">
              <h5>Contacts</h5>
              <dl class="contact-list">
                <dt>email:</dt>
                <dd><a style="color: black;" href="mailto:#">help@myhostelkenya.com</a></dd>
              </dl>
              <dl class="contact-list">
                <dt>phones:</dt>
                <dd><a style="color: black;" href="tel:#">+254 792199276</a>
                </dd>
              </dl>
            </div>
            <div class="col-md-4 col-xl-3" id="more-foot">
              <h5>Links</h5>
              <ul class="nav-list">
                <li><a style="color: black;" href="/help/faq/what-are-we/">About</a></li>
                <li><a style="color: black;" href="/help/faq/how-to-search/">Learn how to search</a></li>
                <li><a style="color: black;" href="/help/faq/how-does-the-site-work/">How to use this site</a></li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
      <script type="text/javascript">
        var x = new Date();
        document.getElementById('c-y').innerText = x.getFullYear();
      </script>

    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/base.js' %}"></script>
    {% if user.is_staff %}
    <script src="{% static 'js/admin.js' %}"></script>
    {% endif %}
    {% block script %}{% endblock script %}
</body>
</html>