{% load staticfiles %}
<div id="over-main" style="display: none;">

	<!-- The closing mechanism -->
	<div id="close-over-view">
		<svg width="36" height="36" viewBox="0 0 36 36" class="close close-js-over" data-toggle="tooltip" data-placement="Bottom" title="Close"><path d="M28.5 9.62L26.38 7.5 18 15.88 9.62 7.5 7.5 9.62 15.88 18 7.5 26.38l2.12 2.12L18 20.12l8.38 8.38 2.12-2.12L20.12 18z"/></svg>
	</div>

	<!-- The image area -->
	<div id="over-content">

		<!-- the previous button -->
		<div id="previous-button">
			<svg width="48" height="48" viewBox="0 0 48 48" id="previous-image" class="left" data-toggle="tooltip" data-placement="top" title="Previous image"><path d="M30.83 14.83L28 12 16 24l12 12 2.83-2.83L21.66 24z"/></svg>
		</div>

		<!-- The image on overview -->
		<div id="over-view-image-div" class="text-center">
			<img id="over-view-image" alt="" src=""/>
		</div>


		<!-- the next button -->
		<div id="next-button">
			<svg width="48" height="48" viewBox="0 0 48 48" id="next-image" class="right" data-toggle="tooltip" data-placement="top" title="Next Image"><path d="M20 12l-2.83 2.83L26.34 24l-9.17 9.17L20 36l12-12z"/></svg>
		</div>
	
	</div>

</div>
