{% extends "home/base.html" %}
{% load staticfiles %}

{% block title %}Booking by {{ booking.name }}{% endblock title %}

{% block style %}<link rel="stylesheet" type="text/css" href="{% static 'book/css/booking.css' %}">{% endblock style %}

{% block crumb %}
<li class="breadcrumb-item"><a href="{% url 'staff' %}">Staff Actions</a></li>
<li class="breadcrumb-item"><a href="{% url 'booking-list' %}">bookings</a></li>
<li class="breadcrumb-item">Booking by {{ booking.name }}</li>
{% endblock crumb %}

{% block content %}

<div class="container">
    <div class="room">
        <img class="top-level-img" src="{{ booking.room.get_main_image.file.url }}" alt="main image of {{ booking.room }}">

        <h2>{{ booking.room.room_number }} at {{ booking.room.hostel }}</h2>

        <h3>Details</h3>
        <hr>

        <table id="user-info">
            <tbody>
                <tr>
                    <td><strong>Name</strong></td>
                    <td>{{ booking.name }}</td>
                </tr>
                <tr>
                    <td><strong>Phone number</strong></td>
                    <td>{{ booking.phone_number}}</td>
                </tr>
            </tbody>
        </table>
        
        <form action="" method="POST" class="form-inline" role="form">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Clear booking</button>
        </form>
        
    </div>
</div>

{% endblock content %}