{% extends "home/base.html" %}
{% load staticfiles %}

{% block title %}{{ hostel.name }}{% endblock title %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'book/css/hostel_list.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'book/css/hostel_detail.css' %}">
{% endblock style %}

{% block book %}active{% endblock book %}

{% block crumb %}
<li class="breadcrumb-item"><a href="{% url 'book:index' %}">hostels</a></li>
<li class="breadcrumb-item active">{{ hostel.name }}</li>
{% endblock crumb %}

{% block content %}


<div id="main" class="container-fluid">
    <div id="top-info" class="row">
        <!-- Main image-->
        <div class="col-md-6">
            <h1 class="text-center">{{ hostel.name }} <small>at {{hostel.institution}}</small></h1>
            <img name="main-image" id="big-image" src="{{ hostel.get_main_image }}" alt="main-image">
        </div>

        <!-- Side bar with more info -->
        <div id="side-bar" class="col-md-6">

            <div class="locate text-center">
                <span id="locate-pin"><img src="{% static 'svg/place.svg' %}" alt="place ico"> {{ hostel.location}}</span>
            </div>

            {% if hostel.hostelimage_set.all.count > 1  %}
            <h2 class="text-center">more images for {{ hostel.name }}</h2>
            <hr>

            <div class="row" id="small-row">
                {% for image in hostel.hostelimage_set.all %}
                    {% if not image.is_main %}
                        <div class="col-sm-4 image-div-hostel">
                            <img data-toggle="tooltip" data-placement="top" title="click to enlarge" src="{{ image.file.url }}" alt="" class="other-hostel-images small-images over-js-img">
                        </div>                    
                    {% endif %}
                {% endfor %}
            </div>            
            {% endif %}

            <div class="info">
                <h3>features</h3>
                <ul>
                    <li>{% if hostel.water %}Free water available{% else %}No free water{% endif %}</li>
                    <li>{% if hostel.electricity %}Free electricity available{% else %}No free electricity{% endif %}</li>
                    <li>{{ hostel.name }} is {{ hostel.distance_from_admin }} meters from the admnistartion block.</li>
                    <li>Prices range from {{ hostel.price_range}}</li>
                    {% if hostel.available_rooms %}
                        <li>{{ hostel.available_rooms }} room(s) are available</li>
                    {% else %}
                        <li>No rooms available</li>
                    {% endif %}
                </ul>
            </div>

        </div>
    </div>

    {% if hostel.all_available_rooms %}
    <hr class="main-divider">

    <div style="color: #4a4c64;" class="available-rooms">
        <div class="container text-center">
            <h2>rooms at the {{ hostel.name }} ({{hostel.available_rooms}})</h2>
        </div>


        <!-- Rooms in the hostel -->
        <div class="row">
            {% for room in hostel.all_available_rooms %}
                {% include "book/room.html" %}
            {% endfor %}
        </div>

    </div>    
    {% else %}
        <h2 class="text-center">{{ hostel}} has no rooms available rooms for booking</h2>
    {% endif %}

    <hr class="main-divider">

    {% if hostel_suggestions %}
        <div class="suggested-hostels">
            <div style="margin-bottom: 4em;" class='text-center'>
                <h1>more hostels at {{ hostel.institution }}</h1>
            </div>

            <div class="container row">
                {% for s_hostel in hostel_suggestions %}
                    <div class="card hostel">
                        <a href="{% url 'book:hostel' s_hostel.slug %}"><img class="card-img-top" src="{{ s_hostel.get_main_image }}" alt="image for {{ s_hostel }}"></a>
                        <div class="card-body">
                            <a href="{% url 'book:hostel' s_hostel.slug %}"><h4 class="card-title">{{ s_hostel.name }}</h4></a>
                            <div class="row">
                                <p class="col-md-6"><img class="locate-pin-hostel" src="{% static 'svg/place.svg' %}" alt=""> {{ s_hostel.location }}</p>
                                <p class="col-md-6"><img class="locate-pin-hostel" src="{% static 'svg/bed.svg' %}" alt=""> {{ s_hostel.available_rooms }} rooms available</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}

    {% if hostel.all_unavailable_rooms %}
        <hr class="main-divider">
        <!-- Booked Rooms in the hostel -->
        <h2 class="text-center">These rooms are not available for booking</h2>
        <div class="row">
            {% for room in hostel.all_unavailable_rooms %}
                {% include "book/room.html" %}
            {% endfor %}
        </div>  
    {% endif %}

</div>

	{% include 'home/over_view.html' %}

{% endblock content %}

{% block script %}<script src="{% static 'book/js/hostel_detail.js' %}"></script>{% endblock script %}