{% extends "home/base.html" %}

{% load staticfiles %}
{% block style %}<link rel='stylesheet' type="text/css" href="{% static 'book/css/hostel_list.css' %}"> {% endblock style %}
{% block home %}active{% endblock home %}

{% block content %}

<div class='container'>
    <div class="row">
        <div class="col-md-9">
            {% for hostel in hostels %}
                <div class="card hostel">
                    <div class="row">
                        <img class="col-md-7 hostel-image" src='{{ hostel.get_main_image.file.url }}'>
                        <div class="col-md-5 hostel-info">
                            <a href="{% url 'book:hostel' hostel.slug %}"><h2 class="text-center" data-toggle="tooltip" data-placement="top" title="{{ hostel }}">{{ hostel.name }}</h2></a>
                            <hr id="hostel-line">
                            <p>Institution: {{ hostel.institution }}</p>
                            <p>Distance from admnistration block is {{ hostel.distance_from_admin }}m.</p>
                            <p>Price range: {{ hostel.price_range }}</p>
                            <div>
                                <p><strong>{% if hostel.available_rooms %}{{ hostel.available_rooms }} room(s) are{% else %}No rooms{% endif %} available</strong></p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="col-md-3">
        <h3>more actions</h3>

            {% if popular %}
                <!-- popular content -->
                <div class="card side-cards">
                    <img src="{% static 'css/images/hk.png' %}" alt="" class="card-img-top">
                    <div class="card-body">
                        <span class="card-title text-center">popular hostels</span>
                        <hr>
                        <ul>
                            {% for pop in popular %}
                                <li class="popular-item"><a href="{{ pop.get_absolute_url }}">{{pop.name}}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endif %}

            {% if recent_searches %}
                <!-- Recent searches -->
                <div class="card side-cards">
                    <img src="{% static 'css/images/hk.png' %}" alt="" class="card-img-top">
                    <div class="card-body">
                        <span class="card-title text-center">your recent searches</span>
                        <hr>
                        <ul>
                            {% for search in recent_searches %}
                                <li class="recent-item"><a href="{% url 'book:search' %}?query={{search}}">"{{ search }}"</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endif %}

            <!-- Filters -->
            <div class="card side-cards">
                <img src="{% static 'css/images/hk.png' %}" alt="" class="card-img-top">
                <div class="card-body">
                    <span class="card-title text-center">filter now</span>
                    <hr>
                    <ul>
                        <li class="item1"><a href="{% url 'book:search' %}?query=bedroom:2">Two Bedrooms</a></li>
                        <li class="item2"><a href="{% url 'book:search' %}?query=bedroom:1">One Bedrooms</a></li>
                        <li class="item3"><a href="{% url 'book:search' %}?query=bedroom:single">Single Rooms</a></li>
                        <li class="item3"><a href="{% url 'book:search' %}?query=bedroom:bs">Bedsitters</a></li>
                    </ul>
                </div>
            </div>

            <!-- price filters-->
            <div class="card side-cards">
                <img src="{% static 'css/images/hk.png' %}" alt="" class="card-img-top">
                <div class="card-body">
                    <span class="card-title text-center">price groups</span>
                    <hr>
                    <ul>
                        <li class="item1"><a href="{% url 'book:search' %}?query=price:0-3000">below 3000</a></li>
                        <li class="item1"><a href="{% url 'book:search' %}?query=price:3000-6000">3000-6000</a></li>
                        <li class="item2"><a href="{% url 'book:search' %}?query=price:6000-10000">6000-10000</a></li>
                        <li class="item3"><a href="{% url 'book:search' %}?query=price:10000-100000">above 10000</a></li>
                    </ul>
                </div>
            </div>


        </div>
    </div>
</div>

{% endblock content %}