{% extends "home/base.html" %}
{% load staticfiles %}

{% block title %}{{ room }}{% endblock title %}

{% block style %}<link rel='stylesheet' type='text/css' href="{% static 'book/css/room.css' %}">{% endblock style %}

{% block book %}active{% endblock book %}

{% block crumb %}
<li class="breadcrumb-item"><a href="{% url 'book:index' %}">hostels</a></li>
<li class="breadcrumb-item"><a href="{% url 'book:hostel' room.hostel.slug  %}">{{ room.hostel.name }}</a></li>
<li class="breadcrumb-item active">{{ room.room_number }}</li>
{% endblock crumb %}


{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="top col-md-6">
            <img id="big-image" src="{{ room.get_main_image }}" alt="">
        </div>

        <div class="info">
            {% if room.available %}
            <h2>{{ room.room_number }}<small> at the <a href="{% url 'book:hostel' room.hostel.slug %}">{{ room.hostel}}</a></small></h2>
            <p>{{ room.get_house_type }} at Ksh. {{ room.price }} monthly</p>   

            <div id="action-buttons" class="row">
                <div class="col-6"><a href="{{room.booking_url}}" class="btn btn-outline-dark">book now</a></div>
                <div class="col-6"><a href="{{room.hostel.get_absolute_url}}" class="btn btn-outline-dark">explore {{ room.hostel.name }}</a></div>
            </div>    
            {% if user.is_staff %}
                <div style="margin: 5em;" class="">
                    <a href="{% url 'admin:book_room_change' room.id %}" style='width: 7em;' class="btn btn-dark">Edit</a>
                </div>
            {% endif %}
            {% else %}
            <h2>{{ room.room_number }} is already booked</h2>
            {% endif %}
        </div>
    </div>

    <div class="more-info">

        {% if room.roomimage_set.all.count > 1 %}
        <h2 id="more-img">More images of {{ room.room_number }}</h2>

        <!-- more images -->
        <div class="row">
            {% for image in room.roomimage_set.all %}
                {% if not image.is_main %}  
                    <div class="col-md-2 room-image">
                        <img class="small-images over-js-img" src="{{ image.file.url }}" alt="">
                    </div> 
                {% endif %}
            {% endfor %}
        </div>
        {% endif %}
    </div>

</div>

{% include 'home/over_view.html' %}

{% endblock content %}