{% extends "home/base.html" %}
{% load staticfiles %}

{% block title %}Staff Home{% endblock title %}

{% block style %}<link rel="stylesheet" type="text/css" href="{% static 'book/css/staff.css' %}">{% endblock style %}

{% block staff %}active{% endblock staff %}

{% block crumb %}
<li class="breadcrumb-item">Staff Actions</li>
{% endblock crumb %}

{% block content %}

    <div id="wide" class="container col-md-6">
        <h2>Available actions as a member of staff</h2>

        <ul class="col-md-10">
            <li class="staff-actions"><a href="{% url 'booking-list' %}" class="btn btn-outline-dark">See bookings</a></li>
        </ul>

    </div>

{% endblock content %}