#top-info {
    margin-bottom: 7em;
}

#small-row {
    min-height: 10em;
}

.other-hostel-images {
    cursor: pointer;
    margin-top: 4px;
    width: 100%;
}

#big-image {
    width: 100%;
}

#side-bar {
    margin-top: 1em;
}

#locate-pin {
    font-size: 1.3em;
}

.info {
    margin-top: 4em;
    padding-left: 10%;
}

.main-divider {
    border-top-color: #4a4c64;
    border-top-width: 0.12em;
    margin: 3em;
}

.info ul {
    list-style-type: circle;
}

.room {
    color: aliceblue;
    background-color: #6e5f62;
    width: 18em;
}

.book-ico img {
    width: 4em;
    height: 4em;
}

.suggested-hostels {
    margin-left: 5%;
}

.hostel {
    width: 26em;
    margin: 1em;
    background-color: rgb(100, 74, 78);
}

.locate-pin-hostel {
    height: 2em;
}

.hostel * {
    color: aliceblue;
}

#room-filters > li{
    text-decoration: none;
    display: inline;
    margin-left: 1em;
}

@media screen and ( max-width: 575px){
    .book-ico img {
        width: 5em;
        height: 5em;
    }
    .image-div-hostel {
        width: 30%;
    }
    #small-row {
        display: flex;
    }
}

@media screen and ( max-width: 478px){
    .room {
        width: 80%;
        margin-left: 13%;
    }
}

@media screen and ( max-width: 363px){
    .image-div-hostel {
        width: 80%;
        margin: auto;
        margin-top: 10px;
    }
    #small-row {
        display: block;
    }
}