.hostel-test {
    height: 16em;
    margin-bottom: 1em;
    transition: 0.4s;
}

.hostel-test-text {
    background-color: rgba(75, 17, 75, 0.201);
    width: 80%;
    margin: auto;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    border-radius: 0.2em;
    transition: 0.5s;
}

.hostel-test-text-link {
    color: rgb(221, 226, 230);
    transition: 0.4s;
}

.hostel-test-text-link:hover {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.hostel-test:hover .hostel-test-text {
    background-color: rgba(75, 17, 75, 0.6);   
}

#main {
    margin-top: 2em;
}

.bottom-image {
    height: 35vh;
    margin-bottom: 8em;
    margin-top: 1em;
}


#book-button {
    background-color: gold;
}

#sub-main {
    margin-bottom: 5em;
}

.room {
    margin: 1em;
}

.side-cards {
    margin-bottom: 0.3em;
}

@media screen and ( max-width: 990px){
    .side-cards {
        width: 28%;
        margin-left: 1em;
    }
    .more-center {
        display: flex;
    }
    .more-center-header {
        text-align: center;
        margin-top: 2em;
    }
}

@media screen and ( max-width: 752px){
    .hostel-test {
        font-size: 9px;
    }

    .hostel-test .lead {
        font-size: 10px;
    }
}

@media screen and ( max-width: 574px){
    .hostel-test {
        font-size: 1em;
        width: 80%;
        margin: auto;
        margin-bottom: 1.3em;
    }

    .hostel-test .lead {
        font-size: 1em;
    }
}

@media screen and ( max-width: 528px){
    .side-cards {
        width: 80%;
        margin: auto;
        margin-bottom: 1em;
    }
    .more-center {
        display: block;
    }
}

@media screen and ( max-width: 350px){
    .hostel-test {
        width: 98%;
    }
    .side-cards {
        width: 95%;
    }
}