.result {
    margin: auto;
    width: 60%;
    transition: 0.4s;
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 0.3em;
    background: #ffc0cb;
    border-radius: 2px;
}

.special-search {
    font-size: 1.7em;
}

.result * {
    color: rgb(87, 102, 102);
}

.result a:hover {
    text-decoration: none;
}

.more-result-info {
    width: 100%;
}

.more-result-info span {
    color: rgb(99, 107, 107);
}

.more-result-info .row {
    margin-left: 4em;
}

.locate-pin-hostel {
    height: 2.3em;
}

.failed-search {
    height: 48vh;
}

@media screen and ( max-width: 964px){
    .results {
        font-size: 10.5px;
    }
    .result {
        width: 70%;
    }
    .locate-pin-hostel {
        width: 1.5em;
        height: 1.5em;
    }
}

@media screen and ( max-width: 734px){
    .result {
        width: 83%;
    }
}

@media screen and ( max-width: 634px){
    .result {
        width: 90%;
    }
}