{% extends "home/base.html" %}
{% load staticfiles %}

{% block title %} {{ faq.question }}{% endblock title %}

{% block style %}<link rel="stylesheet" type="text/css" href="{% static 'action/css/faq.css' %}">{% endblock style %}


{% block help %}active{% endblock help %}

{% block crumb %}
<li class="breadcrumb-item"><a href="{% url 'help:faq-index' %}">FAQ</a></li>
<li class="breadcrumb-item active">{{ faq.question }}</li>
{% endblock crumb %}



{% block content %}

<div class="container">

    <div class="header text-center">
        <h1>{{faq.question}}</h1>
    </div>

    <hr>

    <div class="response">
        <p class="response-text">{{faq.response}}</p>
    </div>

</div>

{% endblock content %}